body {
  background: black;
  color: white;
  text-align: center;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-container img {
  height: 300px;
  border: 2px solid blue;
  border-radius: 10px;
}
.img-container h2 {
  background-color: yellow;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid blue;
}
