body::-webkit-scrollbar{
  display: none;
}
header{
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 1rem;
}
button {
  font-weight: bold !important;
}

.img{
  height: 280px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid yellow;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 1300px;
  margin: auto;
}

.img_hover{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 350px;
  overflow: hidden;
  transition: 0.7s ease;

}

.img_hover img{

  width: 70%;
  transition:transform 0.7s ease;
  transform:translateZ(0);
}

.img_hover:hover img{
   transform: scale(1.1) translateZ(50px);
}

